/*
 * FONTS
 */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.0/css/simple-line-icons.css';

/*
 * BUTTONS
 */
.btn-lg {
  min-height: 40px;
}

.btn-primary {
  text-shadow: none !important;
  text-transform: uppercase !important;
  background-color: #FFB602 !important;
  background-image: none !important;
  border: 0 none !important;
  box-shadow: none !important;
  white-space: normal;
}

.btn-default {
  text-shadow: none !important;
  text-transform: uppercase !important;
  background-color: transparent !important;
  background-image: none !important;
  border: 1px solid #DDD!important;
  box-shadow: none !important;
}

.btn-default:hover {
  background-color: #DDD !important;
}

.btn-group {
  width: 100% !important;
}

.btn.active {
  background-color: #FFB602;
  border-color: #FFB602;
  color: #FFF;
}

#from-date, #to-date {
    margin: 0 5px;
}

.input-group.date {
    width: 150px;
}

.datepicker > div {
    display: block;
}

.filter .dropdown-toggle {
  float: right;
  border: 0 none;
}

.table-item-actions .btn {
  color: #222 !important;
  text-shadow: none !important;
  text-transform: uppercase !important;
  background-color: #FFB602 !important;
  background-image: none !important;
  border: 1px solid rgba(0, 0, 0, .1) !important;
  box-shadow: none !important;
}

.table-item-actions .btn:hover {
  background-color: #EBA800 !important;
}

.table-item-actions .btn.active.red {
  background-color: red !important;
  border-color: red !important;
  color: #FFF !important;
}

tr.formItem.true td {
    background-color: #ccffcc !important;
}

/*
 * HELPER CLASSES
 */
.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

.red {
	color: red;
}

/*
 * GLOBAL
 */
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

hr {
  margin: 30px 0;
}

/*
 * MAIN HEADER
 */
#mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  padding: 0 30px;
	color: #666;
  font-weight: 300;
  background-color: #FFF;
  background-size: 100%;
}

#mainHeader #mainHeader__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

#mainHeader #mainHeader__logo h1 {
  margin: 0;
  padding: 0;
}

#mainHeader #mainHeader__logo h1 a {
  background: url(../img/logo.png) no-repeat center left;
  background-size: contain;
  display: block;
  color: transparent;
}

#mainHeader #mainHeader__title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

#mainHeader #mainHeader__title h2 {
  margin: 0;
  padding: 0;
  color: #27588D;
}

#mainHeader #mainHeader__logout {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

/*
 * MAIN MENU
 */
#mainMenu {
  width: 100%;
  font-weight: 300;
  background-color: #27588D;
}

#mainMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainMenu ul li {
  margin: 0 25px;
  font-size: 18px;
}

#mainMenu ul li a,
#mainMenu ul li a:visited,
#mainMenu ul li a:hover {
	color: #FFF;
}

/*
 * MAIN CONTENT
 */
#mainContent {
  padding: 30px 0;
}

/** Scroll to top **/
.scrollToTop {
  position: fixed !important;
  width: 50px;
    height: 50px;
    text-align: center;
    background: none;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    display: none;
    opacity: 1;
    right: 50px;
    bottom: 100px;
    z-index: 10000 !important;
    background-image: url("../img/up-arrow.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/****************************************************************************/

/** Footer **/

/****************************************************************************/


#Footer a.button.btn.btn-default {
    position: relative;
    color: #fff !important;
    display: inline-block;
    text-transform: uppercase !important;
    font-family: 'Roboto', sans-serif !important;
    background-image: none !important;
    font-weight: 300 !important;
    padding: 6px 12px;
    font-size: 16px !important;
    margin: 0 auto;
    font-size: 14px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    border: 1px solid transparent;
    text-: underline !important;
    text-shadow: none;
    white-space: normal;
    text-shadow: none;
    line-height: 20px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-color: #FEC54E !important;
    border-color: #ffb602;
    background-color: #FEC54E !important;
    border-color: #ffb602 !important;
}

.footer-btm {
  min-height:60px;
  background:#363636;
  color: #fff;
  font-size: 16px;
}

.footer-left {
    width: 75%;
    float: left;
}

.footer-right {
    float: right;
}

.inner-footer {
  position: relative;
  padding: 0 5%;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}

footer ul {
  padding: 0;
}

footer ul li {
    float: left;
    list-style-type: none !important;
  display: inline-block;
    line-height: 60px;
}

.footer-btm a {
    display: inline-block;
    line-height: 60px;
    padding-right: 32px;
}

.footer-btm .copy, .footer-btm a  {
    font-size: 16px !important;
}

.footer-btm .copy {
    display: inline-block;
    line-height: 60px;
    float: right;
}

footer a, footer a:link, footer a:visited {
  color:#fff;
  text-decoration:none;
}
footer a:hover, footer a:active, footer a:focus {
  color:#ffb602;
  text-decoration:none;

}

.footer-social.social {
    position: relative;
    margin: 20px 0;
}

footer, .push {
  height:353px;
   clear: both;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -353px;
    overflow: visible !important;
}

footer {
    width: 100%;
    color:#fff;
}

div#rss-feeds li {
    line-height: 20px;
    padding: 6px 0;
  width: 100%;
}

h4#rss-feeds li a {
    display: block !important;
    position: relative !important;
    line-height: 1.42857143;
}

span.footer-line.space-up-write, span.footer-line.space-up-address {
    margin: 15px 0;
}

div#Footer a, div#Footer p, div#Footer span {
    font-size: 16px !important;
}

.footer-top{
  min-height:293px;
  background:#4a4a4a;
  padding:15px 0;
}

.footer-top .col-md-3 {
  padding-left:25px;
  padding-right:25px;
}

footer .footer-social a, footer .footer-social a:link, footer .footer-social a:visited {
  color:#f3f3f3;
  text-decoration:none;
}

footer .footer-social a:hover, footer .footer-social a:active, footer .footer-social a:focus {
  color:#ffb602;
  text-decoration:none;
}

.col {
    float: left;
    position: relative;
    min-height: 1px;
  padding-left:25px;
  padding-right:25px;
}

.col-connect {
  width:14%;
}

.col-blog  {
  width:28%;
  right:58%;
}

.col-newsletter  {
  width:32%;
  left:2%;
}

.col-contact  {
  width:26%;
  left:60%;
}

.col.col-contact a {
    text-decoration: underline;
}

footer h4 {
  margin-bottom:20px;
}

.footer-line {
  display:block;
}

.footer-article-title {
  margin-bottom:10px;
}

/* RSS */
.footer-btm a {
  display:inline-block;
  line-height:60px;
  padding-right:32px;
  color: #fff;
}
.footer-btm .copy {
  display:inline-block;
  line-height:60px;
  float:right;
}
.col-newsletter .footer-line{
  margin-bottom:10px;
  font-weight: 300;
}
footer input[type=text], footer input[type=email] {
  background:#363636;
  border-radius:3px;
  height:32px;
  line-height:32px;
  width:100%;
  display:block;
  margin-bottom:10px;
  border:0;
  color:#fff;
  padding-left:5px;
  padding-right:5px;
}

footer h4 {
  font-size:20px;
  color: #fff !important;
}
  
.search-area {
  margin-right:10px;
}

.content.container {
  padding: 0%;
  width: 100%;
}
  
span.read-more a {
    color: #FFB602 !important;
}

a#bloglink{
    display: block !important;
    position: relative !important;
}


.footer-social.social img {
    width: 25px;
    height: 25px;
}

.social-media a{
  position: relative;
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0 3% 0 0;
  display: inline-block;
}

.imgBoxa {
   
    background: url(../img/Facebook_icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgBoxb {
    background: url(../img/Twitter_icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgBoxc {
    background: url(../img/LinkedIn_icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgBoxd {
    background: url(../img/youtube_icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgBoxe {
    background: url(../img/instagram_icon.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
 * FAQ TABLE
 */
#faqContainer table td {
  padding: 20px;
}

#faqContainer table td strong {
  font-size: 16px;
}

/*
 * ENROLMENT AND WARRANTY INFO
 */
#enrolmentInfo {
  margin: 0;
}

#warrantyInfo {
  margin: 1em 0 0 0;
}

@media (min-width: 768px) {
  #warrantyInfo {
    margin-top: 0;
    text-align: right;
  }
}

#enrolmentInfo dt,
#warrantyInfo dt {
  font-size: 120%;
}

#enrolmentInfo dd,
#warrantyInfo dd {
  margin-bottom: 10px;
}

#enrolmentInfo dd:last-of-type,
#warrantyInfo dd:last-of-type {
  margin-bottom: 0;
}

/*
 * CEPAT TABLE
 */
div.tableContainer {
	clear: both;
  margin: 30px 0;
}

textarea {
	overflow:auto;
	overflow:hidden;
	-ms-overflow-style: none;
}

div.tableContainer textarea{
	position: relative;
    width: 234px !important;
    max-width: 234px;
	min-height: 50px;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ccc;
    -moz-box-shadow: inset 0px 0px 0px 10px #ccc;
    box-shadow: inset 0px 0px 0px 1px ##ccc;
}

div.tableContainer textarea:focus{
	border: 0 !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px #ccc;
    -moz-box-shadow: inset 0px 0px 0px 10px #ccc;
    box-shadow: inset 0px 0px 0px 1px ##ccc;
}

div.tableContainer .loading{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

div.error,
label.error,
span.error,
div.uploadMessage {
    color: red;
}

th.tablesorter-header{
	background-image: url(../img/black-unsorted.gif);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: bottom 12px right 4px;
  padding-right: 15px !important;
  vertical-align: top !important;
}

th.tablesorter-headerAsc{
	background-image: url(../img/black-asc.gif);
}

th.tablesorter-headerDesc{
	 background-image: url(../img/black-desc.gif);
}

th.tablesorter-header.sorter-false{
	background-image: none;
	cursor: default;
}

.table > tbody > tr > th,
.table > tbody > tr > td {
    border-top: 0 none !important;
    border-left: 0 none !important;
    border-bottom: 1px solid #ddd;
    border-right: 0 none !important;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-inline {
    /* padding:10px; */
}

.form-inline > * {
    /* margin:15px 3px !important; */
	margin: 0 auto !important;
}

td.formItem__vendorsResponse, .formItem__condoCorpResponse {
	position: relative;
    width: 250px !important;
    max-width: 250px;
}

.editable-pre-wrapped {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tableContainer .top {
    position: absolute;
    top: -40px;
}

.tableContainer .bottom {
    padding: 50px 0 25px;
}

/*
 * SEARCH
 */
div.search,
div.searchByItemId,
div.searchByRef,
div.searchByPageNum {
    position: relative;
}

#searchclear,
#searchByItemIdClear,
#searchByRefClear,
#searchByPageNumClear {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 12px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

/*
 * PAGINATION
 */
div.pagination,
ul.pagination {
  margin: 0 !important;
  border-radius: 0 !important;
}

ul.pagination {
  min-height: 40px;
  margin-right: 10px;
}

.pagination > li a {
  color: #222;
  padding: 9px 14px;
}

.pagination > li a:hover {
  color: #222;
  background-color: #DDD;
  border-color: #DDD;
}

.pagination > li.active a,
.pagination > li.active a:hover {
  color: #FFF;
  background-color: #27588D;
  border-color: #27588D;
}

/*
 * INPUTS
 */
input.form-control {
  min-height: 40px;
  height: 0 !important;
  border-color: #DDD;
  border-radius: 0;
  box-shadow: none;
}

input[type=submit] {
  border-radius: 6px;
}

/*
 * MODAL DIALOGS
 */
.modal-content {
  padding: 30px;
  border: 0 none;
  border-radius: 0;
}

.modal-header {
  padding: 0 0 15px 0;
}

.modal-body {
  padding: 15px 0;
}

.modal-footer {
  padding: 15px 0 0 0;
}

/*
 * TABLES
 */
.table-bordered > tbody > tr > td.middle {
	vertical-align: middle;
}

.printable, .pdf {
	display:none;
}

#formTable > thead > tr > th {
	vertical-align: top;
}

.noBottomMargin {
	margin-bottom:0px;
}

.noTopMargin {
	margin-top:0px;
}

.table > thead > tr > th.filterable {
	position:relative;
	padding-bottom : 20px;
}
.filter {
	position:absolute;
    bottom:0;
    right:0;
}

.bordered {
	border: 1px solid #ddd;
}

#clearFilterButton {
	margin-top : 10px;
}

/* Dropdowns with Checkboxes */

.dropdown-menu {
    min-width: 205px;
}

ul#filterByVBPosition li input, ul#filterByCondoCorpPosition li input, #filterByPriority li input {
    float: left;
    margin: 4px 5px 0 0;
	pointer-events: none;
}

ul#filterByVBPosition li a, ul#filterByCondoCorpPosition li a, #filterByPriority li a {
    padding: 3px 15px;
}

.dropdown-menu .divider {
    padding: 0 !important;
}

.dropdown-menu li:hover {
    padding: 0 !important;
}

/* Filter */
ul.dropdown-menu.stop-propagation {
    max-width: 300px !important;
    width: 100vw !important;
	padding: 25px;
}

.filter-add-button {
	position: absolute;
    width: 38px;
    height: 40px;
    margin: 0;
    float: right;
    right: 0;
	top: 0;
	border-radius: 0;
}

.keyword-input{
	position: relative;
}

button.keywords-button {
    position: relative;
    background-color: transparent !important;
    border: solid 1px #fff !important;
    text-transform: none !important;
    padding: 5px 10px;
}

button.keywords-button-li {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-transform: none !important;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    color: #FFF !important;
    border-color: #27588D !important;
    background-color: #27588D !important;
}

div#line-items-kw {
    position: relative;
    overflow-y: scroll;
    height: 50px;
}

div#line-items-kw button::after, button.keywords-button::after, button.keywords-button-li::after {
    content: "x";
    position: absolute;
    font-size: 10px;
    top: 0;
    right: 2px;
}

div#line-items-kw button {
    float: left;
    margin: 10px 5px;
}

p#filter-results {
    font-style: italic;
    margin: 5px 0 15px 0;
    text-align: center;
}

input#filter-keywords {
    padding: 6px 45px 6px 12px;
}

/*
 * PRINT
 */
@media print {
	.printable {
		display:block;
	}

  body div:not(.printable){
    display:none;
  }

 	.screen, .modal-dialog {
 		display:none;
	}
}

/*
 * TOOLBAR
 */
.buttonToolbar .btn-toolbar {
  margin-top: 1em;
}

@media (min-width: 768px) {
  .buttonToolbar .btn-toolbar {
    float: right;
    text-align: right;
    margin-top: 0;
  }
}

#itemsPerPageBtn {
  min-height: 40px;
  text-transform: none !important;
}

#itemsPerPage {
  left: auto !important;
}

/*
 * FORM NAVIGATION
 */
nav .btn.active,
nav .btn.active:hover {
  color: #FFF !important;
  border-color: #27588D !important;
  background-color: #27588D !important;
}

.progress-bar {
  background-color: #27588D !important;
}


/*
 * IE INPUT CLEAR
 * Hides the "X" on input text fields in IE
 */
input::ms-clear {
  display: none !important;
}

/**************************************

PDF

 **************************************/

.pdf table {
    font-size: 10px;
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    white-space: normal;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 11px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.pdf table th {
    width: 20%;
}

/**************************************

Media Queries

 **************************************/
@media all and (max-width: 991px) {
   .tableContainer .top {
      position: relative;
      top: 0;
  }
  /** Footer **/
  .footer-left {
    width: 100%;
    text-align: center;
  }
  .footer-right {
    float: right;
    width: 100%;
  }
  .footer-btm .copy {
    display: inline-block;
    line-height: 30px;
    float: none;
    text-align: center;
    width: 100%;
  }
  .footer-btm {
    min-height: 84px;
    padding: 12px 0 !important;
  }
  .footer-btm a {
    line-height: 30px;
    padding: 0 16px !important;
  }
  .inner-footer {
    display: inline-block;
    width: 100%;
  }
  .footer-right ul {
    position: relative;
    text-align: center;
  }
  footer ul li {
    float: none;
    line-height: 30px;
  }
  /** Footer **/
  .col-connect {
    width:100%;
  }
  .col-blog {
    width:100%;
    right: 0;
  }
  .col-newsletter, .col-contact {
    width:100%;
    left: 0;
  }
  .footer-top {
    text-align: center;
  }
  .container {
    width:92%;
  }
  .footer-btm {
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
  }
  .footer-btm a {
    padding:0 16px;
    line-height:30px;
  }
  .footer-btm .copy {
    float:none;
    padding:0 16px;
    line-height:30px;
  }
}


@media all and (max-width: 600px) {
  /** Footer **/
  .footer-btm a {
    line-height: 40px;
  } 
}
